* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "LitleDinosaur";
  src: url("../fonts/LittleDinosaur.ttf") format("truetype");
}

@font-face {
  font-family: "LonelyCoffee";
  src: url("../fonts/LonelyCoffee.ttf") format("truetype");
}

body {
  font-family: "LitleDinosaur", sans-serif;
}

.LonelyFont{
  font-family: "LonelyCoffee", sans-serif;
}

.londrinaFont {
  font-family: "Londrina Solid", sans-serif; 
}

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #76d1ff;
  border-radius: 5px;
  border: 2px solid white;
}

html {
  scroll-behavior: smooth;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnStyle{
  box-shadow: 2.94px 2.94px 0px 1.96px #FFFFFF47 inset, 2.94px 2.94px 0px 0px #0000004D;
  background-color: #87EEFC;
}

.logo p{
  -webkit-text-stroke: .1vw #000000;
  text-shadow: 0 .3vw black;
  color: white;
}

/* about */
.aboutContainer{
  background-image: url(../images/bg_about.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about_title{
  -webkit-text-stroke: .2vw #000000;
  text-shadow: 0 .4vw black;
  color: white;
  line-height: 1;
}

.btnHover{
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.btnHover:hover{
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.socialBtn{
   border: .2vw solid #191919;
   box-shadow: 4.42px 4.42px 0px -1.47px #191919,   11.78px 11.78px 1.47px -4.42px #00000033;
   
   width: 4.5vw;
   height: 4.5vw;

   border-radius: 1vw;
   -webkit-border-radius: 1vw;
   -moz-border-radius: 1vw;
   -ms-border-radius: 1vw;
   -o-border-radius: 1vw;
   transition: .2s ease-out;
   -webkit-transition: .2s ease-out;
   -moz-transition: .2s ease-out;
   -ms-transition: .2s ease-out;
   -o-transition: .2s ease-out;
}

.socialBtn:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.marqueeContainer{
  border-top: .5vw solid black;
  border-bottom: .5vw solid black;
}

.marquee {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee.bordered {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--shadow-primary);
  background-color: var(--text-blue);
  border-bottom: 2px solid var(--shadow-primary);
  border-top: 2px solid var(--shadow-primary);
  color: var(--text-blue);
  font-family: var(--heading);
  padding-bottom: var(--gutter);
  padding-top: var(--gutter);
  text-shadow: -2px 3px 0 var(--shadow-primary);
  text-transform: uppercase;
}

.marquee-el {
  align-items: center;
  animation: scroll 5s linear infinite;
  animation-delay: 0s;
  animation-play-state: running;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  min-width: 100%;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 1;
  -webkit-animation: scroll 5s linear infinite;
}

.marquee-right .marquee-el {
  animation-direction: normal;
}

.marquee-left .marquee-el {
  animation-direction: reverse;
}

@keyframes scroll {
  0% {
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }

  to {
    transform: translateX(740px);
    -webkit-transform: translateX(740px);
    -moz-transform: translateX(740px);
    -ms-transform: translateX(740px);
    -o-transform: translateX(740px);
}
}


/* footer */
footer::before{
  content: '';
  position: absolute;

  top: -3vw;
  left: 0;

  width: 100%;
  height: 3vw;

  background-image: url(../images/grass.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.titleFooter{ 
  -webkit-text-stroke: .4vw #000000;
  text-shadow: 0 1vw black;
}

.disclaimer::before{
  content: "";
  position: absolute; 
  top: 0;

  width: 130%;
  height: 100%;

  background-image: url(../images/bgDisclaimer.svg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width:1023px) {
  .logo p{
    -webkit-text-stroke: .2vw #000000;
    text-shadow: 0 .8vw black; 
  }

  .socialBtn{  
      width: 8vw;
      height: 8vw;
  }

  .about_title{
    -webkit-text-stroke: .3vw #000000;
    text-shadow: 0 .8vw black; 
  }

  .socialBtn{
    width: 10vw;
    height: 10vw;
  }

  @keyframes scroll {
    0% {
      transform: translateX(-100px);
      -webkit-transform: translateX(-100px);
      -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
      -o-transform: translateX(-100px);
    }

    to {
      transform: translateX(580px);
      -webkit-transform: translateX(580px);
      -moz-transform: translateX(580px);
      -ms-transform: translateX(580px);
      -o-transform: translateX(580px);
    }
  }
}



/* animation */

.float_animation {
  animation: float 7s ease-in-out infinite;
  -webkit-animation: float 7s ease-in-out infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-1vw);
    -webkit-transform: translateY(-1vw);
    -moz-transform: translateY(-1vw);
    -ms-transform: translateY(-1vw);
    -o-transform: translateY(-1vw);
  }
  70% {
    transform: translateY(1vw);
    -webkit-transform: translateY(1vw);
    -moz-transform: translateY(1vw);
    -ms-transform: translateY(1vw);
    -o-transform: translateY(1vw);
  }
}

.float_animation2 {
  animation: float2 12s ease-in-out infinite;
  -webkit-animation: float2 12s ease-in-out infinite;
}

@keyframes float2 {
  0%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-.5vw);
    -webkit-transform: translateY(-.5vw);
    -moz-transform: translateY(-.5vw);
    -ms-transform: translateY(-.5vw);
    -o-transform: translateY(-.5vw);
}
  70% {
    transform: translateY(.5vw);
    -webkit-transform: translateY(.5vw);
    -moz-transform: translateY(.5vw);
    -ms-transform: translateY(.5vw);
    -o-transform: translateY(.5vw);
}
}


.shake_animation {
  animation: shake .6s linear infinite;
  -webkit-animation: shake .6s linear infinite;
}

/* Mendefinisikan animasi shake */
@keyframes shake {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  25% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
  50% {
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
}
  75% {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
}

.rotate_img{
  animation: rotate_img 15s infinite linear ;
  -webkit-animation: rotate_img 15s infinite linear ;
}

@keyframes rotate_img {
  100%{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}



.zoomIn_animation {
  animation: zoomIn_animation 5s ease-in-out infinite;
  -webkit-animation: zoomIn_animation 5s ease-in-out infinite;
}

@keyframes zoomIn_animation {
  0%,
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}