.popUpMobile{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.397);
  backdrop-filter: blur(12px);
  z-index: 999;

  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.popUpMobile .containerPop{
  width: 80%;
  height: 200px;
  
  background: linear-gradient(180deg, var(--seconClr) 40%, #3ac7cf 100%);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  border: 1px solid black;
}

.popUpMobile p{
  font-size: 1rem;
  color: white;
  text-align: center;
  letter-spacing: 1px;
  
  width: 80%;
}

.closePop{
  position: absolute;
  right: .5rem;
  top: .5rem; 
}

.closePop img{
  width: 60px;
  height: auto; 
}

@media screen and (max-width:1300px) {
    .contract img{ 
      height: 300px !important; 
      width: auto !important;
    }
}

@media screen and (max-width:1100px) {
  .socialContainer{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .howToBuy{
    padding: 0 2rem;
    background-color: red;
  }

  .maxWidth{
    max-width: 90%;
  }
}

@media screen and (max-width:500px) {
    .contract{
        padding: 3rem 1rem;
    }

    .contract img{ 
      height: auto !important; 
      width: 90% !important;
    }

    .contract h3{ 
        font-size: 3rem; 
    }

    .buttonSocial{
      max-width: 200px;
      width: 40%;
    }

    .buttonSocial .wpr-button-content{
      display: flex;
      justify-content: center;
      align-items: center;
    }
}
